# [.github/workflows/Documentation.yml]
name: Documentation

on:
  push:
    branches:
      - main
      - dev
    tags: '*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
      - uses: julia-actions/julia-buildpkg@v1
        with:
          version: '1.6'
      - name: Install dependencies
        run: julia --project=docs/ -e '
             using Pkg;
             Pkg.develop(PackageSpec(path=pwd()));
             Pkg.add("Documenter");
             Pkg.instantiate()'

      - name: Build and deploy
        run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
          DOCUMENTER_DEBUG: true

